<%- include("components/header.ejs") %>

<h1>This is Home Page</h1>

<label for="">List of Products</label>

<ul>
    <% products.forEach(product =>{ %>
       <li> <%= product.title %> </li>
    <% }) %>
</ul>